
<div class="flex-container">
  <div class="search-container">
    <%= render 'shared/search' %>
  </div>
  <div class="cards">
    <h1>Search Results (Clinics#index)</h1>
    <div class="card">
      <% @clinics.each do |clinic| %>
        <h2><%= link_to clinic.name, clinic_path(clinic) %></h2>
        <p><%= clinic.category %></p>
        <p><%= clinic.eng_op %></p>
        <p><%= clinic.hours %><>
        <p><%= clinic.address %></p>
        <p><%= clinic.telephone %></p>
        <p><%= clinic.website %></p>
        <p>Latitude: <%= clinic.latitude %></p>
        <p>Longitude: <%= clinic.longitude %></p>
        <p><%= clinic.likes.count %> <%= (clinic.likes.count) == 1 ? 'Like' : 'Likes'%></p>
        <hr>  
        <br> 
      <% end %>
    </div>
  </section>
  <div id="map"
      style="width: 100%; height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key= "<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

