<h1>Clinics#index</h1>
<% @clinics.each do |clinic| %>
  <%= clinic.name %>
  <%= clinic.telephone %>
  <%= clinic.hours %>
  <%= clinic.address %>
  <%= clinic.eng_op %>
  <%= clinic.category %>
  <%= clinic.website %>
  <hr>  
  <br> 
<% end %>
