
<div class="flex-container">
  <div class="search-container">
    <%= render 'shared/search-bar' %>
  </div>

  <% unless params[:query].present? %>
    <div class="clinic-categories">
      <h1>Select a Category</h1> 
      <%= render 'shared/category', category: "General Hospital" %>

      <hr>
       <%= render 'shared/category', category: "Dental" %>
      <hr>
      <%= render 'shared/category', category: "Dermatology" %>
      <hr>
      <%= render 'shared/category', category: "Clinic" %>
      <hr>
      <%= render 'shared/category', category: "Eye Doctor" %>
      <hr>
      <%= render 'shared/category', category: "Ear nose throat" %>
      <hr>
      <%= render 'shared/category', category: "pediatrics" %>
      <hr>
      <%= render 'shared/category', category: "plastic surgery" %>
      <hr>
      <%= render 'shared/category', category: "psychiatry" %>
      <hr>
      <%= render 'shared/category', category: "chiropractor" %>
    </div>

  <% end %>
    
  <% if params[:query].present? %>
    <div id="return">
      <button><%= link_to "back to clinics", clinics_path %></button>
    </div>
  <% end %>  

  <div class="cards">
      <% @clinics.each do |clinic| %>
        <% if params[:query].present? %>
          <div class="<%=clinic.category %> card">
        <% else %>
          <div class="<%=clinic.category %> card" style="display: none;">
        <% end %>
        <h2><%= link_to clinic.name, clinic_path(clinic) %></h2>
        <p><%= clinic.category %></p>
        <p><%= clinic.eng_op %></p>
        <p><%= clinic.hours %>
        <p><%= clinic.address %></p>
        <p><%= clinic.telephone %></p>
        <a href="<%= clinic.website %>" ><%= clinic.website %></a>
        <hr>
        <br> 
      </div>
      <% end %>
  </section>
</div>
<%= render 'shared/map' %>

