
<div class="flex-container">
  <div class="search-container">
    <%= render 'shared/search-bar' %>
  </div>

  <% unless params[:query].present? %>
    <div class="clinic-categories">
      <h1>Select a Category</h1>
      <button id="General_Hospital">General Hospital</button>
      <hr>
      <button id="Dental">Dental</button>
      <hr>
      <button id="Dermatology">Dermatology</button>
      <hr>
      <button id="Clinic">Clinic</button>
      <hr>
      <button id="Eye_doctor">Eye doctor</button>
      <hr>
      <button id="ent">ear nose throat doctor</button>
      <hr>
      <button id="pediatrics">pediatrics</button>
      <hr>
      <button id="plastic_surgery">plastic surgery</button>
      <hr>
      <button id="psychiatry">psychiatry</button>
      <hr>
      <button id="chiropractor">chiropractor</button>
    </div>

    <div id="return" style="display:none">
      <button>Return to Categories</button>
    </div>
  <% end %>

  <div class="cards">
      <% @clinics.each do |clinic| %>
        <% if params[:query].present? %>
          <div class="<%=clinic.category %> card">
        <% else %>
          <div class="<%=clinic.category %> card" style="display: none;">
        <% end %>
        <h2><%= link_to clinic.name, clinic_path(clinic) %></h2>
        <p><%= clinic.category %></p>
        <p><%= clinic.eng_op %></p>
        <p><%= clinic.hours %><>
        <p><%= clinic.address %></p>
        <p><%= clinic.telephone %></p>
        <p><%= clinic.website %></p>
        <p>Latitude: <%= clinic.latitude %></p>
        <p>Longitude: <%= clinic.longitude %></p>
        <p><%= clinic.likes.count %> <%= (clinic.likes.count) == 1 ? 'Like' : 'Likes'%></p>
        <hr>  
        <br> 
      </div>
      <% end %>
  </section>
</div>
<% if params[:query].present? %>
  <div id="map"
  style="width: 100%; height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key= "<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<% else %>
  <div id="map"
    style="width: 100%; height: 600px; display:none;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key= "<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
<% end %>

