<%= render 'shared/search' %>
<h1>Clinics#index</h1>
<% @clinics.each do |clinic| %>
  <%= link_to clinic.name, clinic_path(clinic) %>
  <%= clinic.telephone %>
  <%= clinic.hours %>
  <%= clinic.address %>
  <%= clinic.eng_op %>
  <%= clinic.category %>
  <%= clinic.website %>
  <p>Latitude: <%= clinic.latitude %></p>
  <p>Longitude: <%= clinic.longitude %></p>
  <p><%= clinic.likes.count %> <%= (clinic.likes.count) == 1 ? 'Like' : 'Likes'%></p>

  <hr>  
  <br> 
<% end %>
