<div id="map"
      style="width: 100%; height: 300px;"
      data-markers="<%= @clinicmarkers.to_json %>"
      data-mapbox-api-key= "<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<h1><%= @clinic.name %></h1>
<strong>Category: </strong><p><%= @clinic.category.capitalize %></p>
<strong>English Operator: </strong><p><%= @clinic.eng_op %></p>
<strong>Hours: </strong><p><%= @clinic.hours %></p>
<strong>Address: </strong><p><%= @clinic.address %></p>
<strong>Telephone: </strong><p><%= @clinic.telephone %></p>
<strong>Website: </strong><p><a href="<%= @clinic.website %>" ><%= @clinic.website %></a></p>

<% if user_signed_in? %>
<% pre_like = @clinic.likes.find { |like| like.user_id == current_user.id} %>
  <p><%#= @clinic.likes.count %> <%= pre_like.present? ? 'liked' : 'not liked'%></p>
<% else %>
  <p>♡</p>
<% end %>

<% if user_signed_in? %>
  <% pre_like = @clinic.likes.find { |like| like.user_id == current_user.id} %>
  <% if pre_like %>
    <%= button_to 'Unlike', clinic_like_path(@clinic, pre_like), method: :delete %>
  <% else %>
    <%= button_to 'Like', clinic_likes_path(@clinic), method: :post %>
  <% end %>
<% else %>
  <h3>Please sign in to like this clinic</h3>
<% end %>
