<%= render 'shared/search-bar' %>
<h1><%= @clinic.name %></h1>
<p>Category: <%= @clinic.category %></p>
<p>English Operator: <%= @clinic.eng_op %></p>
<p>Hours: <%= @clinic.hours %></p>
<p>Address: <%= @clinic.address %></p>
<p>Telephone: <%= @clinic.telephone %></p>
<p>Website: <a href="<%= @clinic.website %>" ><%= @clinic.website %></a></p>

<% if user_signed_in? %>
<% pre_like = @clinic.likes.find { |like| like.user_id == current_user.id} %>
  <p><%#= @clinic.likes.count %> <%= pre_like.present? ? 'liked' : 'not liked'%></p>
<% else %>
  <p>♡</p>
<% end %>

<% if user_signed_in? %>
  <% pre_like = @clinic.likes.find { |like| like.user_id == current_user.id} %>
  <% if pre_like %>
    <%= button_to 'Unlike', clinic_like_path(@clinic, pre_like), method: :delete %>
  <% else %>
    <%= button_to 'Like', clinic_likes_path(@clinic), method: :post %>
  <% end %>
<% else %>
  <h1>Please sign in to like this clinic</h1>
<% end %>
<%= render 'shared/search-bar' %>