<%= render 'shared/search' %>
<h1><%= @clinic.name %></h1>

<p>Telep<%= @clinic.telephone %></p>
<p><%= @clinic.hours %></p>
<p><%= @clinic.address %></p>
<p><%= @clinic.eng_op %></p>
<p><%= @clinic.category %></p>
<p><%= @clinic.website %></p>


