<h1> <%= @clinic.name %></h1>

<p>
  Telephone: <%= @clinic.telephone %>
  Hours: <%= @clinic.hours %>
  Address: <%= @clinic.address %>
  English Operator: <%= @clinic.eng_op %>
  Category: <%= @clinic.category %>
  Website: <%= @clinic.website %></p>

  <%= link_to "Back to Clinics", clinics_path %>
