<h1>KenKo</h1>

<h2>Your guide to English-speaking clinics in Tokyo</h2>

<button id = "find-me">Show my location</button><br/>
<p id = "status"></p>
 <a id = "map-link" target="_blank"></a> 

<select class="select2" name="country">
  <option value="AL">Alabama</option>
  <option value="WY">Wyoming</option>
</select>

<%= form_tag clinics_path, method: :get do %>
        <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Type something!"
    %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>

<% if user_signed_in?%>
  <%= link_to "profile", user_path(current_user) %>
  <%= @user.latitude %>
  <%= @user.longitude %>
<% end %>

<p>Testing</p>